/*---Reset CSS items --*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
/*---End Reset CSS items --*/
/*---Basic site config --*/
body {
	line-height:1;
	font-family:Arial;
}
ol,ul {
	list-style: none;
}
blockquote,q {
	quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none;
}:focus {
	outline:0;
}
ins {
	text-decoration:none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse:collapse;border-spacing:0;
}
a { 
	cursor:pointer; 
}
/*--- Layout --*/
#wrapper {
	width: 99%;
	margin: 0 auto;
}

#top {
	padding: 10px;
	margin: 0 0 10px 0;
}

#middle {}

#left-column {
	float: left;
	width: 200px;
	min-height: 200px;
	
}

#left-column .lc-node {
	margin: 0 0 2px 0;
	padding: 4px;
	border: solid 1px #EEEEEE;
	font-size: 12px;
}

#left-column ul li {
	padding: 2px 0 2px 3px;
	font-size: 11px;
}

#new-thread {
	padding: 4px !important;
	text-align: center;
}

#buddy-list div {padding: 0 0 0 2px;}
#buddy-list div span {font-size: 11px;}

#right-column {
	margin: 0 0 0 210px;
	margin-top: 0px;
	
}

#main-title {
	font-size: 24px;
	padding: 5px 0 6px 0;
	border-bottom: solid 1px #999999;
}

.pagination {
	border-style: solid;
	border-color: #EEEEEE;
	border-width: 1px 0;
	padding: 2px;
	font-size: 11px;
	line-height: 22px;
}

#thread .pagination.bottom {border: 0;}

.pagination.top {margin-bottom: 2px; border-top: 0;}

.pagination ul li {
	display: inline;
	background: #EEEEEE;
	padding: 2px 3px;
}

.thread {
background: #FAFAFA;
margin-bottom: 3px;
min-height: 42px;
}

.thread.alt {
background: #F0F0F0;
}

.thread a {
color: #0F0F0F;
}

.thread .one, .thread .two, .thread .three, .thread .four, .thread .five{
float: left;
}

.thread .one, .thread .two, .thread .three {
padding: 6px 0 0 0;
}

.thread .one {
width: 50%;
}

.thread .two, .thread .three {
width: 15%;
}

.thread .four {
width: 12%;
text-align: center;
}

.thread .five {
width: 6%;
text-align: right;
}

.thread .five span {
margin-right: 8px;
}

.thread .end-link {
font-size: 10px;
}

.thread .subject, .thread .category {
margin-left: 5px;
}

.thread .subject, .thread .username {
font-size: 14px;
padding-bottom: 3px;
}

.thread .time, .thread .category {
	font-size: 10px;
	color: #888888;
}

.thread .four, .thread .five {
	line-height: 40px;
	/*padding: 0 10px;*/
}

#bottom {
	text-align: center;
	padding: 30px 0 10px 0;
	font-size: 11px;
	color: #999999;
	clear: both;
}

.comment {
	padding: 0 8px 20px 2px;
	margin-bottom: 2px;
	border-bottom: solid 1px #CCCCCC;
	min-height: 45px;
}

.comment .cmd-bar {
	text-align: right;
	font-size: 10px;
	padding-bottom: 3px;
}

.comment .cmd-bar a {
	color: #CCCCCC;
	text-decoration: none;
	margin-left: 10px;
}

.comment.deleted {
	min-height: 0;
	text-align: center;
	font-size: 10px;
	padding: 2px 0 4px 0;
}

.comment .user-block {
	float: left;
	width: 120px;
}

.comment .user-block .time {
	font-size: 10px;
	color: #888888;
	padding-top: 7px;
}

.comment .content-block {
	margin-left: 125px;
	line-height: 18px;
	font-size: 14px;
}

.comment .content-block code {
	white-space: pre;
	background: #FFFFEE;
	display: block;
	padding: 10px 0;
}

.comment .content-block code br {
	display: none;
}

.comment .content-block, #thread .comment textarea {
	font-size: 14px;
	line-height:1;
	font-family:Georgia;
}

#thread .comment textarea {
	display: block;
	height: 140px;
	width: 100%;
	border: solid 1px #EEEEEE;
	position: relative;
	top: -2px;
	left: -2px;
}

#thread .comment button {
	margin-right: 2px;
}

#notifier {
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 198px;
	border: solid 1px #CCC;
	text-align: center;
	padding: 7px 0;
	font-size: 11px;
	
	background: #f8f8f8;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#notifier a { 
	color: #545454;
	font-weight: bold;
	font-size: 12px;
}

form {text-align: left;}

form .input {
	margin-bottom: 4px;
	min-height: 24px;
}

form .input label {
	float: left;
	width: 100px;
	line-height: 24px;
}

form .input.text input {
	padding: 3px;
}

form .input.textarea textarea {
	line-height: 24px;
	padding: 3px;
}

form .input.text input, form .input.textarea textarea {
	border: solid 1px #999999;
	font: normal 14px Georgia;
}

#thread-content-input {
	width: 400px;
}

#preferences form {
	margin-top: 10px;
}

#preferences .input label {
	width: 150px;
}

#user { 
	width: 100%;

}
#user #information {
	width: 200px;
	line-height: 20px;
	border: dotted 1px #CCCCCC;
	padding: 5px;
	font-size: 12px;
	
}
#information-bio, #information-desc, #information-widget {
	width: 200px;
	line-height: 20px;
	border: solid 1px #CCCCCC;
	padding: 5px;
	font-size: 10px;
	margin-top: 10px;
	background: #f7f7f7;
	color: #545454;
	
}
.personal_info_box h3 { 
	border-bottom: dotted 1px #545454;
	margin-bottom: 5px;
	font-size: 14px;
}
#information-desc { 

}
div.tquote {
	background: #FAFAFA;
	padding: 5px 5px 7px 6px;
	font-size: 12px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #EEEEEE;
	color: #555555;
	width: auto;
}

div.tquote div.tqname {
	font-size: 10px;
	margin-bottom: 3px;
	font-style: italic;
}

/*---- utility ---*/
.clear { 
	clear: both;
}
/*---- Other User Profile ---*/
.main-pagination { 
	margin-bottom: 20px;
	margin-top: 10px;
}
.main-pagination .selected-page { 
	border: 1px solid #7E7E7E;
    color: #FFF !important;
    display: inline;
    font-size: 9px;
    height: 9px;
    line-height: 9px;
    margin-right: 2px;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
	font-family: arial;
	background: #545454;
}
.main-pagination a { 
	 border: 1px solid #7E7E7E;
    color: #494949 !important;
    display: inline;
    font-size: 9px;
    height: 9px;
    line-height: 9px;
    margin-right: 2px;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    font-family: arial;
}

#latest-posts { 
	margin-left: 230px;
	margin-top: 10px;
	padding: 0px;
}
.personal_info_box { 
	float: left;
	padding: 0px;
	margin: 0px;
	
}
#this-is-you { 
	background: #545454;
	color: #FFF;
	width: 200px;
	padding: 6px;
	margin-bottom: 10px;	
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}

#this-is-you a, #this-is-you a:visited, #this-is-you a:active { 
	color: #f076ff !important;
}
.post-container { 
	
}
#latest-posts hr {
	border: none;
	border-bottom: solid 1px #CCC;
} 
#bio-info { 
	
}
.post-block {
	background: #CCC;
	color: #545454;
	text-transform: uppercase;
	display: block;
	float: left;
	width: 28px;
	margin: 3px;
	margin-top: 0px;
	padding: 3px;
	font-family: Arial;
	font-size: 10px;
}
.post-block a {
	text-decoration: none;
	color: #545454;
}
.recent-thread-title {
	display: block;
} 
.recent-post-content {
	margin: 3px;
	font-size: 12px;
	margin-top: 10px;
}

