html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;background:transparent;}

body {	
    margin:0px;
    padding:0px;
    border:0px;
    background-color:#ffffff;
}

form {
    margin:0px;
    padding:0px;
}

img {
    border:0px;
}

body,div,td,input,select,textarea{
    font-family:Arial;
    font-size:12px;
    color:#494949;
}

a {
    text-decoration:underline;
    cursor:pointer;
    color:#494949;
}

a:hover{
    color:#ffffff;
    background-color:#494949;
}

ol, ul {
    list-style: none;
}

code {
	font-family: 'Courier New',monospace;
	font-size: 9pt;
	color: #000000;
	white-space: pre;
}

.dotted-bar {
	border-bottom: 1px dotted #959595;
	margin-top: 14px;
}

/********************************************************
   MAIN LAYOUT
 ********************************************************/

#header { 
    display:block;
    text-indent:-9999px;
    width:80px;
    height:14px;
    background:url(/img/logo.gif);
    margin-bottom:15px;
}

#left-column {
    position:absolute;
    top:25px;
    left:25px;
    width: 200px;
}

.welcome { 
    border: 1px dotted #959595;
    padding:10px;
    margin-bottom:15px;
}

.welcome li a { 
    text-transform:uppercase;
    font-size: 9px;
}

.logout { 
    color: #ED135A;
}

.main_avatar {
    display:block;
    width:16px;
    height:16px;
    float:left; 
    padding:4px;
    margin-right:4px;
}


.lc-node { 
    padding:10px;
    margin-bottom:15px;
}

#threads h3, #buddy-list h3 { 
    font-size:20px;
}

#threads { 
    background-color: #E9F8FE;
}

#buddy-list { 
    background-color: #EDF5E1;
}

#threads ul { 
    padding-bottom: 7px;
    margin-top:7px;
}
#threads ul a { 
    font-size:10px; 
}
#thread-categories { 
    text-transform:uppercase;
    border-bottom:1px dotted #959595;
}
#special-threads a { 
    color: #959595;
}

/*************************************************************
   MAIN THREADS PAGE
*************************************************************/
#main-title {
    border-bottom: 1px dotted #959595;
    height: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    padding-top: 53px;
}

#main-title h3, #title-input {
    font-size: 24px;
    font-weight: bold;
}

#post-thread { 
    background-color: #E6F7FE;
    float: right;
    padding: 4px 4px;
    text-transform:uppercase;
    font-size:9px; 
}

.pagination { 
    height:29px;
    overflow:auto; 
    border-bottom: 1px dotted #959595;    
}

.pagination.bottom { 
    padding-top:15px; 
}

#thread-headers { 
    min-height:0px;
    overflow:auto;
    background:transparent; 
    border-bottom: 1px solid #BBBBBB;
}
#thread-headers div { 
    padding:0px;
    color: #7E7E7E;
    font-size: 9px;
    line-height: 27px;
}

.subject, .username {
    line-height:16px;
    font-size:12px; 
    font-weight:bold; 
}

.time, .category { 
    font-size:9px;
    color: #959595;
}

.blueline {
    background-color: #ACE1F9;
    height: 1px;
    overflow: hidden;
}

.favourite {
    margin-top:12px;
    display:block;
    width:12px;
    height:16px;
    background:url(/img/b-add.gif);
}

/*************************************************************
   New Thread
*************************************************************/
.inp label {
    display:block;
    font-size:16px;
    margin-top:12px;
    font-weight:bold;
    margin-bottom: 6px;
}

.inp {
    margin-bottom:15px;
    padding-bottom:12px;
    border-bottom: 1px dotted #959595;
}

#subject { 
    width:350px;
    padding:4px;
    font-size: 16px;
}

/*************************************************************
   MAIN THREADS PAGE
*************************************************************/

.main-pagination {
    display: inline;
}
.main-pagination div, .main-pagination a {
    font-size: 10px;
    color: #7E7E7E;
    border: 1px solid #7E7E7E;
    display: block;
    float: left;
    font-size: 8px;
    height: 8px;
    line-height: 8px;
    margin-right: 5px;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
}

.paging-text {
    font-size: 10px;
    color: #7E7E7E;
}

.main-pagination div {
    background-color: #7E7E7E;
}

/* #left-column .lc-node { */
/* margin: 0 0 2px 0; */
/* padding: 4px; */
/* border: solid 1px #EEEEEE; */
/* font-size: 12px; */
/* } */

/* #left-column ul li { */
/* padding: 2px 0 2px 3px; */
/* font-size: 11px; */
/* } */


/* body{line-height:1;font-family:Georgia;} */
/* ol,ul{list-style: none;} */
/* blockquote,q{quotes:none;} */
/* blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;} */
/* :focus{outline:0;} */
/* ins{text-decoration:none;} */
/* del{text-decoration: line-through;} */
/* table{border-collapse:collapse;border-spacing:0;} */
/* a { cursor:pointer; } */
#wrapper {
width: 99%;
margin: 0 auto;
}

#top {
padding: 20px 0 2px 0;
margin: 0 0 10px 0;
}

#middle {}


#buddy-list div {padding: 0 0 0 2px;}
#buddy-list div span {font-size: 11px;}

#right-column {
    margin: 25px 0 0 240px;
    padding: 0 25px 50px 0;
}

#thread .pagination.bottom {border: 0;}

.pagination.top {margin-bottom: 2px; border-top: 0;}

.pagination ul li {
display: inline;
background: #EEEEEE;
padding: 2px 3px;
}

.thread {
background-color: #F5FBFE;
margin:2px 0 2px 0;
min-height: 42px;
overflow:auto; 
}

.thread.alt {
background-color: #F9FCFE;
}

.thread .one, .thread .two, .thread .three, .thread .four, .thread .five{
float: left;
}

.thread .one, .thread .two, .thread .three {
padding: 6px 0 0 0;
}

.thread .one {
width: 50%;
}

.thread .two, .thread .three {
width: 15%;
}

.thread .four {
width: 12%;
text-align: center;
}

.thread .five {
width: 6%;
text-align: right;
}

.thread .five span {
margin-right: 8px;
}

.thread .end-link {
font-size: 10px;
}

.thread .subject, .thread .category {
margin-left: 5px;
}

.thread .four {
line-height: 40px;
/*padding: 0 10px;*/
}

#bottom {
text-align: center;
padding: 30px 0 10px 0;
font-size: 11px;
color: #999999;
clear: both;
}

.comment {
padding: 8px 8px 20px 2px;
margin-bottom: 2px;
border-bottom: solid 1px #CCCCCC;
min-height: 45px;
position:relative; 
}

.comment .cmd-bar {
    position:absolute;
    top:0px;
    right:0px;
font-size: 9px;
}

.comment .cmd-bar a {
color: #CCCCCC;
margin-left: 10px;
}

.comment.deleted {
min-height: 0;
text-align: center;
font-size: 10px;
padding: 2px 0 4px 0;
}

.comment .user-block {
float: left;
width: 120px;
}

.comment .user-block .time {
font-size: 10px;
color: #888888;
}

.comment .content-block {
margin-left: 125px;
line-height: 18px;
font-size: 14px;
}

.comment .content-block code {
white-space: pre;
background: #FFFFEE;
display: block;
padding: 10px 0;
}

.comment .content-block code br {
display: none;
}

.comment .content-block, #thread .comment textarea {
font-size: 14px;
line-height:1;
}

#thread .comment textarea {
display: block;
height: 140px;
width: 100%;
border: solid 1px #EEEEEE;
position: relative;
top: -2px;
left: -2px;
}

#thread .comment button {
margin-right: 2px;
}

#notifier {
position: fixed;
bottom: 4px;
left: 4px;
width: 198px;
border: solid 1px #EEEEEE;
text-align: center;
padding: 7px 0;
font-size: 11px;
background: #FFFFFF;
}

form {text-align: left;}

form .input {
margin-bottom: 4px;
min-height: 24px;
}

form .input label {
float: left;
width: 100px;
line-height: 24px;
}

form .input.text input {
padding: 3px;
}

form .input.textarea textarea {
line-height: 24px;
padding: 3px;
}

form .input.text input, form .input.textarea textarea {
border: solid 1px #999999;
}

#thread-content-input {
width: 400px;
}

#preferences form {
margin-top: 10px;
}

#preferences .input label {
width: 150px;
}

div.tquote {
	background: #FAFAFA;
	padding: 5px 5px 7px 6px;
	font-size: 12px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #EEEEEE;
	color: #555555;
	width: auto;
}

div.tquote div.tqname {
	font-size: 10px;
	margin-bottom: 3px;
	font-style: italic;
}
/*------- profile information -------- */
.personal_info_box { 
	width: 220px;
	float: left;
}
#latest-posts { 	
	width: 80%;
	margin-left: 235px;
}
#latest-posts hr {
	border: none; 
	border-bottom: solid 1px #ccc;
} 
#this-is-you { 
	background: #545454;
	width: 200px;
	
	color: #FFF;
	font-size: 14px;
	margin: 0px;
	padding: 10px;
	margin-bottom: 10px;
	
}
#this-is-you  a{ 
	color: #ff6de2;
	margin-bottom: 10px;
}
#stats { 

}
.post-block  a {
	text-decoration: none;
} 
.post-container h3{ 
	line-height: 24px;
	font-size: 20px;
	
}
.post-block { 	
	display: block;
	background: #f2f2f2;
	text-transform: uppercase;
	float: left;
	padding: 3px;
	font-size: 9px;
	margin-right: 3px;
	margin-top: 2px;
	
}
.recent-post-content { 
	padding-top: 5px;
	padding-bottom: 5px;
	
}
#user #information {
	
}
.small_profile_caps { 
	font-size: 10px;
	text-transforum: uppercase;
}
.standard_profile_info_box h3 { 
	border-bottom: dotted 1px #545454;
	margin-bottom: 3px;
	
}
.standard_profile_info_box { 
	background: #F9F9f9;
	border: solid 1px #CCCCCC;
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 18px;
	padding: 8px;
	width: 200px;
}

#pm-box-controls {
background: #FFEAEA;
padding: 6px;
border-bottom: solid 1px #BBBBBB;
}

#pm-box-controls a {
font-size: 11px;
}

#pm-inbox .message.header {
background: transparent;
border-bottom: solid 1px #BBBBBB;
}

#pm-inbox .message.header div {
font-size: 10px !important;
}

#pm-inbox .message {
margin: 2px 0;
line-height: 24px;
height: 24px;
padding-left: 4px;
background: #F5FBFE;
}

#pm-inbox .message div {
float: left;
line-height: 24px !important;
color: #666666;
font-size: 12px;
font-weight: 500;
padding: 0 !important;
margin: 0 !important;
}

#pm-inbox .message .subject {
width: 60%;
}

#pm-inbox .message .sender {
width: 20%;
}

#pm-inbox .blue-bar {
height: 1px;
background: #ACE1F9;
width: 100%;
}

#pm-inbox .ctrl-bar, #pm-message .ctrl-bar {
line-height: 30px;
height: 30px;
border-bottom: 1px dotted #959595;
}

#pm-inbox .pagination, #pm-message .pagination {
border: 0;
float: left;
font-size: 11px;
}

#pm-inbox .new-message, #pm-message .new-message {
float: right;
display: block;
background: #E6F7FE;
padding: 3px 7px;
height: 18px;
line-height: 18px;
margin-top: 3px;
font-size: 10px;
}

#pm-message-meta {
line-height: 20px;
height: 20px;
font-size: 10px;
border-bottom: solid 1px #BBBBBB;
}

#pm-message-meta span {
padding: 0 4px;
}

#pm-message-meta span span {
padding: 0;
color: #7E7E7E;
}

#pm-message .content {
padding: 20px 0;
border-bottom: 1px dotted #959595;
}

#errors {
background: #FFFFEE;
border: solid 1px #ED135A;
padding: 12px;
margin-top: 10px;
width: 400px;
}

#errors h4 {
font-size: 14px;
margin-bottom: 4px;
}

#errors ul {
margin-left: 20px;
}
#errors li {
list-style: disc;
font-size: 11px;
}
