html,body,div,h4,p,ul,li,form,label{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;font-family:Georgia;}

#wrapper {margin: 10px;}
	#secluded-login, #secluded-invite {width: 223px;}
	#secluded-register {width: 249px !important;}
	#secluded-login, #secluded-invite, #secluded-register {margin: 0 10px 10px 0; border: solid 1px #AAAAAA; background: #DDDDDD; padding: 5px; font-size: 14px; -moz-border-radius: 3px; border-radius: 3px;}
		#secluded-register label {width: 100px;}
		#secluded-login h4, #secluded-invite h4, #secluded-register h4 {margin-bottom: 3px; padding-bottom: 3px; border-bottom: solid 1px #AAAAAA;}
		#secluded-invite p {margin-bottom: 10px; padding-left: 5px;}

	.secluded-input {margin: 2px 0; padding: 2px 0;}
		.secluded-input label {float: left; display: block; width: 74px; line-height: 18px; padding: 0 10px 0 0; text-align: right;}
		.secluded-input input {width: 130px; border: solid 1px #AAAAAA;}

	.secluded-submit {text-align: right; padding: 5px;}

	#messages {height: 42px;}
		#error, #confirmation {font-size: 12px; padding: 10px; margin-bottom: 10px; float: left;}
		#error {background: #FFEEEE; color: #AA4444;}
			#error ul {list-style: none;}
		#confirmation {background: #EEFFEE; color: #44AA44;}